.banner {
    width: 100%;
    
    background: #2D3D4D;
}

.banner .shafi_link {
    text-decoration: none;
    cursor: text;
}

.banner .title {
    color: white;
    text-align: right;
    padding: 30px 30px 0 0;
}

.banner .sub_title {
    color: white;
    text-align: right;
    padding: 10px 30px 30px 0;
    margin: 0;
}

.image img {
    height: 200px;
    font-weight: 120px;
    top: 7%;
    left: 15%;
    border-radius: 50%;
    position:absolute;
    z-index: 1;
}

.content {
    
}

.content .left_content {
    background: #EDEDED;
    text-align: center;
    padding: 100px 0 0 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.left_content .skill .skill_h_t {
    padding: 20px 0 0 0;
    margin: 0;
}

.left_content .skill .skill_title {
    padding: 15px 0 0;
}

/*--------------------------
    Social Icon
-------------------------*/

.social_icon {
    text-align: center;
    background: #003366;
    padding: 10px;
}

.social_icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social_icon ul li {
    display: inline-block;
}

.social_icon ul li a {
    margin: 0 10px;
    color: #fff;
	text-align: center;
	display: block;
	width: 50px;
	height: 48px;
	line-height: 42px;
	border: 2px solid #003366;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-size: 20px;
    -webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.social_icon ul li a:hover{
    border: 2px solid white;
    border-radius: 4px;
}

.my_cv {
    background: #003366;
    margin-bottom: 20px;
}
.my_cv a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.my_cv a:hover {
    background: #980b1a;
}

.my_work_title {
    padding: 0px 0 20px 0;
    margin: 0;
}

.my_work_middel {
    margin-top: 10px;
}

.card-body {
    padding: 10px 2px; 
    background: #980B1A;
    color: white;
    text-decoration: none;
}

.content .right_content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right_content_title {
    background: #003366;
    margin-bottom: 0;
    padding: 8px 7px;
    color: #DEE4EB;
}

.caree_title {
    padding: 20px 0 ;
}

.a_q_shadow {
    padding: 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content .right_content ul {
    list-style: none;
    
}

.content .right_content ul li span:before {
    content: ': ';
    
}

.content .right_content ul li b {
    float: left;
    width: 250px;
}


.social {
    padding: 30px 0;
}

.footer {
    width: 50%;
    height: 0px;
    background: #980B1A;
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg); /* Standard syntax */ 
    -webkit-transition: width 2s; /* Safari */
    transition: width 3s;
    padding: 18px 0 35px 0;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer:hover {
    width: 100%;
    background: #343A40;
}

.copyrightt {
    width: 100%;
    background: #2d3237;
    color: lightgrey;
    box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.copyrightt .shafi {
    margin: 0;
    padding: 3px;
    text-align: center;  
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 25px;
    background: #47484B;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    color: white;
    font-size: 24px;
    font-weight: 900;
}
#back-to-top:hover {
    background: #1D1F21;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

/*Image Page*/
.imag {
    width: 100%;
    height: 100%;
}

.home {
    height: 100px;
    width: 100%;
    cursor: text;
}


/*---------scrollbar----------*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #b41228; 
}

::-webkit-scrollbar-thumb:hover {
    background: #980b1a; 
}

